# -------------------------------------------------------------------------------------------------------------------------
# PAYMENT SERVICE MYSQL
# -------------------------------------------------------------------------------------------------------------------------
PAYMENT_SERVICE_MYSQL_DB_HOST=payment-mysql
PAYMENT_SERVICE_MYSQL_DB_PORT=3308
PAYMENT_SERVICE_MYSQL_DB_NAME=payments_db
PAYMENT_SERVICE_MYSQL_DB_USER=${PAYMENT_SERVICE_MYSQL_DB_USER}
PAYMENT_SERVICE_MYSQL_DB_PASSWORD=${PAYMENT_SERVICE_MYSQL_DB_PASSWORD}
PAYMENT_SERVICE_MYSQL_DB_ROOT_PASSWORD=root
PAYMENT_SERVICE_MYSQL_INNODB_BUFFER_POOL_SIZE=256M
PAYMENT_SERVICE_MYSQL_MAX_CONNECTIONS=200

# -------------------------------------------------------------------------------------------------------------------------
# PAYMENT SERVICE
# -------------------------------------------------------------------------------------------------------------------------
PAYMENT_SERVICE_PORT=8081
PAYMENT_SERVICE_APPLICATION_NAME=payment-service
PAYMENT_SERVICE_TPAY_API_URL=https://openapi.sandbox.tpay.com
PAYMENT_SERVICE_TPAY_API_CLIENT_ID=${PAYMENT_SERVICE_TPAY_API_CLIENT_ID}
PAYMENT_SERVICE_TPAY_API_CLIENT_SECRET=${PAYMENT_SERVICE_TPAY_API_CLIENT_SECRET}

PAYMENT_SERVICE_TPAY_API_SECURITY_CODE=${PAYMENT_SERVICE_TPAY_API_SECURITY_CODE}
PAYMENT_SERVICE_TPAY_APP_NOTIFICATION_URL=${PAYMENT_SERVICE_TPAY_APP_NOTIFICATION_URL}
PAYMENT_SERVICE_TPAY_APP_RETURN_SUCCESS_URL=${PAYMENT_SERVICE_TPAY_APP_RETURN_SUCCESS_URL}
PAYMENT_SERVICE_TPAY_APP_RETURN_ERROR_URL=${PAYMENT_SERVICE_TPAY_APP_RETURN_ERROR_URL}

SWAGGER_UI_PORT=9000
